<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'bg' }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }} | {{ site.title }}</title>

    <li><a href="{{ '/minoxidil-blockchain-trust/' | relative_url }}">Blockchain Trust</a></li>


    {%- seo -%}

    <!-- Carga el CSS del tema -->
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

    <!-- Google Analytics 4 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-13L1MDCBH2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-13L1MDCBH2');
    </script>

    <!-- Meta Pixel -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '123456789012345'); // <--- sustituye por tu Pixel ID real
      fbq('track', 'PageView');
    </script>
    <noscript>
      <img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=123456789012345&ev=PageView&noscript=1"/>
    </noscript>
  </head>

  <body>
    <header>
      {%- include header.html -%}
    </header>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <footer>
      {%- include footer.html -%}
    </footer>
  </body>
</html>
